*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    display: grid;
    place-items: center;
    height: 100vh;
}
#container
{
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
#container #masterChief
{
    height: 90px;
    width: 90px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}
#container #masterChief img
{
    height: 90px;
    width: 90px;
}
.masterChiefActive
{
    animation: animatemasterChief 0.5s linear infinite;
}
@keyframes animatemasterChief{
    0%,100%
    {
        bottom: 28px;
    }
    45%,55%
    {
        bottom:160px;
    }
}
#container #grunt
{
    height: 55px;
    width: 190px;
    position: absolute;
    bottom: 37px;
    right: -20px;
    animation: gruntAnimate 1s linear infinite;
}
#container #grunt img
{
    height: 55px;
    width: 190px;
}
@keyframes gruntAnimate{
    0%
    {
        right: -125px;
    }
    100%
    {
        right: 100%;
    }
}